{% extends 'index.html' %}

{% block title %}
	<title>Procesamiento de Imagen</title>
{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" type="text/css">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/upload.css') }}">
{% endblock %}

{% block navbar %}
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container-fluid">

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
				aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fa fa-bars"></span>
			</button>
			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav m-auto">
					<li class="nav-item"><a href="/" class="nav-link">Inicio</a></li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">Información</a>
						<div class="dropdown-menu" aria-labelledby="dropdown04">
							<a class="dropdown-item" href="{{ url_for('information', corn_type='tipo_1') }}">Maiz Tipo 1</a>
							<a class="dropdown-item" href="{{ url_for('information', corn_type='tipo_2') }}">Maiz Tipo 2</a>
							<a class="dropdown-item" href="{{ url_for('information', corn_type='tipo_3') }}">Maiz Tipo 3</a>
							<a class="dropdown-item" href="{{ url_for('information', corn_type='tipo_4') }}">Maiz Tipo 4</a>
							<a class="dropdown-item" href="{{ url_for('information', corn_type='tipo_5') }}">Maiz Tipo 5</a>
						</div>
					</li>
					<li class="nav-item active"><a href="{{ url_for('process_image') }}" class="nav-link">Análisis de Imagen</a></li>
					<li class="nav-item"><a href="{{ url_for('history') }}" class="nav-link">Historial de Análisis</a></li>
					{#
					<!-- <li class="nav-item"><a href="{{ url_for('models') }}" class="nav-link">Modelos de Predicción</a></li> -->
					#}
				</ul>
			</div>
		</div>
	</nav>
	{% endblock %}
{% block content %}
<div class="container py-5" style="background-color: #757f9a;
background-image: linear-gradient(147deg, #757f9a 0%, #d7dde8 100%);">

    <header class="text-white text-center">
        <p class="lead mb-0">Seleccione una Imagen para realizar el Analisis</p>
        <img src="https://bootstrapious.com/i/snippets/sn-img-upload/image.svg" alt="" width="150" class="mb-4">
    </header>

    <div class="row py-4">
        <div class="col-lg-6 mx-auto">
            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                <form id="uploadForm" method="post" enctype="multipart/form-data">
                    <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0">
                </form>
                <label id="upload-label" for="upload" class="font-weight-light text-muted">Seleccione una imagen</label>
                <div class="input-group-append">
                    <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i
                            class="fa fa-cloud-upload mr-2 text-muted"></i><small
                            class="text-uppercase font-weight-bold text-muted">Buscar...</small></label>
                </div>
            </div>

            <!-- Uploaded image area-->
            <p class="font-italic text-white text-center">Vista previa de la imagen:.</p>
            <div class="image-area mt-4 text-center"><img id="imageResult" src="#" alt=""
                    class="img-fluid rounded shadow-sm mx-auto d-block">
            </div>
            <div class="mt-4 text-center">
                <button type="button" class="btn btn-outline-success">Analizar!</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/upload.js') }}"></script>
{% endblock %}

